
/*  文章界面右侧关于博客的介绍，博客标签，分类等等 */

/*    博客介绍    */
.content-right {
    width: 315px;
    height: 900px;
    float: right;
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 10px;
}

.myblog {
    font-family: 华文细黑;
    font-size: 28px !important;
    font-weight: 800 !important;
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    height: 40px;
    line-height: 40px !important;
}

.content-right .content-myinfo {
    width: 100%;
    height: 345px;
    background-color: #ffffffbf;
    box-shadow: 0px -5px 10px yellow, 5px 0 10px red;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.content-right .content-myinfo .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.content-right .content-myinfo img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 80px;
}

.content-right .content-myinfo p {
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    text-align: center;
    font-style: inherit;
    /*text-decoration: line-through;*/
}

.content-right .content-myinfo .follow {
    margin: 20px auto;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    background-color: #38b3de;
}

.content-right .content-myinfo .follow a {
    width: 100%;
    height: 100%;
    line-height: 39px;
    text-align: center ;
    text-decoration: none;
    display: inline-block;
    color: #f5f2f0;
    font-size: 22px;
    font-weight: bolder;
}

.content-right .content-myinfo .follow a:hover {
    border-radius: 20px;
    width: 130px;
    height: 40px;
    background-color: #49c3ee;
}


/*      文章统计    */
.content-right .article-statistics {
    margin-top: 25px;
    width: 100%;
    height: 345px;
    background-color: #ffffffbf;
    box-sizing: border-box;
    box-shadow: 0px -5px 10px yellow, 5px 0 10px red;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.content-right .article-statistics .title-statistics {
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-family: 华文细黑;
    text-align: center;
    font-weight: 800;
    font-size: 28px;
}

.content-right .article-statistics ul {
    width: 100%;
    list-style: none;
}

.content-right .article-statistics ul li {
    width: 100%;
    height: 80px;
}

.content-right .article-statistics ul li .decoration {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.content-right .article-statistics ul li .number-statistics {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}